.Page-title {
	text-transform: capitalize;
}


.Notification {
	width: 100%;
	padding: 10px;
	box-sizing : border-box;
	color: white;
}
.Notification.red {
	background-color: #f44336;
}
.Notification.green {
	background-color: #4CAF50;
}
.Notification.blue {
	background-color: #008CBA;
}
.Notification.black {
	background-color: #555555;
}

